@charset "utf-8";

form, h1{
	text-align: center;
}

h1 {
    color: #fff;
}

form {
    margin-left: calc(50% - 250px) ;
    padding: 10px;
    background-color: #fff;
    max-width: 500px;
    border-radius: 15px;
}

.msg {
    text-align: center;
    color: #fff;
}

body {
	background-color: #000;
}